<div class="infocontainer">
  <h2>Lo dicho...</h2>
  <div class="video-container">
    <iframe
      width="720"
      height="415"
      src="https://www.youtube.com/embed/7X-gbnbV-D4?autoplay=1&loop=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <br />
  <h1 class="hireme">LA ES-TRA-TE-GIA</h1>
  <h2>Expertos lo comprueban</h2>
  <a class="back" mat-raised-button routerLink="/">Volver a inicio</a>
</div>
