<div class="infocontainer">
  <h2>David Ma-da-fa-kin Zurriaga</h2>
  <h1>EL PAISINI</h1>
  <img src="assets/img/paisini2.png" alt="Don da-vid Zu-lua-ga" />
  <br />
  <h2 class="hireme">
    ¿EN SERIO NECESITAS VER MÁS QUE ESTA FOTO? <br />
    ¡CONTRÁTALO YA!
  </h2>
  <a class="skills" mat-raised-button routerLink="/skills">Ver mis skills</a>
  <a class="back" mat-raised-button routerLink="/">Volver a inicio</a>
  <audio class="phrase" autoplay>
    <source src="assets/audio/frase.ogg" type="audio/ogg" />
    Your browser does not support the audio element.
  </audio>
</div>
