h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: lighter;
  text-align: center;
  line-height: 120%;
}

h2.hireme {
  font-weight: 500;
  color: rgb(107, 0, 0);
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
  border: 7px solid rgb(185, 185, 185);
}

.skills {
  padding: 1%;
  font-size: 40px;
  align-self: center;
  margin-bottom: 2%;
}

.infocontainer {
  margin-top: 40px;
}

@media screen and (max-width: 690px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h2.hireme {
    font-weight: 300;
  }

  img {
    width: 80%;
    height: 80%;
  }

  .skills {
    font-size: 30px;
  }
}
