h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: lighter;
}

h2.hireme {
  font-weight: 500;
  color: rgb(107, 0, 0);
}

img {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10%;
  border: 7px solid rgb(185, 185, 185);
}

.infocontainer {
  margin-top: 40px;
}
