h1 {
  font-size: 70px;
}

img {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 10px solid rgb(185, 185, 185);
}

.profile {
  padding: 10px;
  font-size: 40px;
  align-self: center;
}

.infocontainer {
  margin-top: 70px;
}

@media screen and (max-width: 690px) {
  h1 {
    font-size: 45px;
  }

  img {
    width: 80%;
    height: 80%;
  }

  .profile {
    font-size: 30px;
  }
}
